/venv
/pedido/__pycache__
/produto/__pycache__
/perfil/__pycache__
/utils/__pycache__
/pedido/email/__pycache__
/pedido/migrations/__pycache__
/produto/migrations/__pycache__
/perfil/migrations/__pycache__
/produto/templatetags/__pycache__

loja_django/__pycache__

db.sqlite3
passenger.log
produto_produto.sql
stripe_backup_code.txt

produto/migrations/
.produto_produto.sql.kate-swp
pedido/migrations/
perfil/migrations/
loja_django/__pycache__/settings.cpython-311.pyc
perfil/migrations/0001_initial.py
perfil/migrations/0002_alter_perfilusuario_bairro_alter_perfilusuario_cep_and_more.py
