{% extends 'base.html' %}

{% load omfilters %}

{% block conteudo %}

<div class="row mb-5">
    <div class="col-lg">
        <h2>Cadastro efetuado com sucesso</h2>

        <p class="lead">Um email foi enviado para você ativar seu cadastro</p>
        <p>Caso precise editar, <a href="{% url 'perfil:criar' %}">clique aqui</a></p>
        <dl class="row">
            <dt class="col-lg-2">Nome:</dt>
            <dd class="col-lg-4">{{usuario.first_name}}</dd>
            <dt class="col-lg-2">Sobrenome:</dt>
            <dd class="col-lg-4">{{usuario.last_name}}</dd>

            <dt class="col-lg-2">Idade:</dt>
            <dd class="col-lg-4">{{perfil.idade}}</dd>
            <dt class="col-lg-2">Nascimento:</dt>
            <dd class="col-lg-4">{{perfil.data_nascimento|formata_br_date}}</dd>

            <dt class="col-lg-2">CPF:</dt>
            <dd class="col-lg-4">{{perfil.cpf}}</dd>
            <dt class="col-lg-2">E-mail:</dt>
            <dd class="col-lg-4">{{usuario.email}}</dd>
        </dl>

        <p class="lead">Dados de endereço</p>
        <dl class="row">
            <dt class="col-lg-2">Endereço:</dt>
            <dd class="col-lg-4">{{perfil.endereco}}</dd>
            <dt class="col-lg-2">Número:</dt>
            <dd class="col-lg-4">{{perfil.numero}}</dd>

            <dt class="col-lg-2">Complemento:</dt>
            <dd class="col-lg-4">{{perfil.complemento|none_to_blank}}</dd>
            <dt class="col-lg-2">Bairro:</dt>
            <dd class="col-lg-4">{{perfil.bairro|none_to_blank}}</dd>

            <dt class="col-lg-2">Cidade:</dt>
            <dd class="col-lg-4">{{perfil.cidade}}</dd>
            <dt class="col-lg-2">Estado:</dt>
            <dd class="col-lg-4">{{perfil.estado}}</dd>

            <dt class="col-lg-2">CEP:</dt>
            <dd class="col-lg-4">{{perfil.cep}}</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card-columns">

            {% for produto in produtos %}   
            
            <div class="card">
                {% if produto.imagem %}
                  <a href="{{produto.slug}}">  
                    <img class="card-img-top" src="{{ produto.imagem.url }}" alt="Card image cap">
                  </a>
                {% endif %} 

                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="card-text">{{ produto.descricao }}</p>
                    <div class="container product-price-block text-center">
                        {% if produto.preco_marketing_promocional > 0 %}
                            <span class="product-price">
                                {{ produto.preco_marketing_promocional|formata_preco }}
                            </span>
                        {% endif %}
                            <span class="product-old-price text-muted">
                                {{ produto.preco_marketing|formata_preco }}
                            </span>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-top-light-custom text-center">
                    <a href="{{produto.slug}}" class="btn btn-primary btn-sm m-1 btn-block">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Comprar
                    </a>
                </div>
            </div>
            {% endfor  %}

        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        {% include 'parciais/_pagination.html' %}
    </div>
</div>


{% endblock %}