{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block conteudo %}

<script>
    $(document).ready(function(){
        
        $("#id_cep").blur(() => {
            let cep = $("#id_cep").val().replace("-", "")
            let url_call = "https://viacep.com.br/ws/" + cep + "/json/"; 
            $.ajax({
                        url: url_call,
                        type: 'GET',
                        async: true,
                        success: function(response){
                            $("#id_bairro").val(response.bairro);
                            $("#id_cidade").val(response.localidade);
                            $("#id_endereco").val(response.logradouro);
                            $("#uf").val(response.uf);
                        }
                    },                
            );
        });

        $("#enviar_form_perfil").click((e) => {
            $.ajax({
                        url: url_call,
                        type: 'GET',
                        async: false,
                        success: function(response){
                            if(response.uf != $("#id_estado").val()){
                                e.preventDefault(); 
                                $("#id_cep").css("border-color", "red");
                                $("#id_estado").css("border-color", "red"); 
                                $("#id_estado").after('<span class="password-strength-indicator"' 
                                                    + 'style="display: none;">&nbsp;</span>')
                                                .after('<small id="hint_id_password"'
                                                    + ' class="form-text text-red-validation">O estado deve ser' 
                                                    + ' o mesmo estado do cep</small>');                            } 
                        }
                    },                
            );
        });
    });
</script>

<div class="row">
    
    <div class="col-lg mt-3">
        {% block titulocadastro %}
            <h4>Cadastro</h4>
            <p>Caso ainda não tenha cadastro, utilize o formulário</p>
        {% endblock %}

        <form method="POST" action="">            
            {% csrf_token %}          
            {{userform|crispy}}
            {{perfilform|crispy}}
            <input type="hidden" name="uf" id="uf" value="{{perfilform.data.estado}}">
            <div class="row">
                <div class="col">
                    <button type="submit" id="enviar_form_perfil"
                        class="btn btn-primary btn-lg btn-cadastro-perfil">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
