{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block conteudo %}

<div class="container d-flex justify-content-center align-items-center vh-100"> 

    {% if not request.user.is_authenticated %}
    <div class="card borderless">
        <h3>Login</h3>
        <p class="mt-4">Se já fez o cadastro, basta entrar com seu usuário e senha abaixo:</p>

        <div class="card-body">
            <form method="POST" action="{% url 'perfil:login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="InputUsuario">Email ou nome de usuário</label>
                    <input type="text" name="username" id="username" placeholder="Digite seu usuário"
                           class="form-control" aria-describedby="usuarioHelp">
                </div>
                <div class="form-group">
                    <label for="InputUsuario">Senha</label>
                    <input type="password" name="password" placeholder="Digite sua senha"
                           class="form-control" id="exampleInputPassword">
                </div>
                <input type="checkbox" class="form-check-inline mb-2" name="lembrarme" id="lembrarme" /> 
                Lembrar-me
                <span id="capslock" style="display:none">
                    <i class="fa-regular fa-keyboard far ml-4" style="color: #c85f5f;"></i>
                    Caps Lock ligado
                </span>
                <button type="submit" id="btn_login_perfil" class="btn btn-primary btn-block btn-lg btn_login">
                    Entrar
                </button>  
           </div>
        </form>  

        <p class="mt-4">Se esqueceu sua senha, clique aqui para cadastrar uma nova senha:</p>
        <div class="card-body">
            <a href="{% url 'perfil:password_reset' %}" class="btn btn-primary btn-block btn-lg btn_login">
                Esqueci minha senha
            </a>     
        </div>

        <p class="mt-4">Se não tem cadastro, clique aqui para se cadastrar:</p>
        <div class="card-body">
            <a href="{% url 'perfil:criar' %}">
                <button type="submit" class="btn btn-primary btn-block btn-lg btn_login">
                Cadastrar
                </button>    
            </a>
        </div>

    </div>
{% endif %}

</div>

<script>
    $(document).ready(function() {
    // Verifica se o nome de usuário está armazenado
    var username = localStorage.getItem('username');
    if (username) {
        $('#username').val(username);
        $('#lembrarme').prop('checked', true);
    }

    // Evento para armazenar ou remover o nome de usuário
    $('#lembrarme').change(function() {
        if ($(this).is(':checked')) {
            localStorage.setItem('username', $('#username').val());
        } else {
            localStorage.removeItem('username');
        }
    });
});

window.addEventListener("keydown", function(event) {
    if (event.getModifierState("CapsLock")) {
        $("#capslock").show();
    } else {
        $("#capslock").hide();
    }
});
</script>

{% endblock %}