{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block conteudo %}

<div class="container d-flex justify-content-center align-items-center vh-100"> 

    {% if not request.user.is_authenticated %}
    <div class="card borderless">
        <h3>Recuperação de senha</h3>
        <p class="mt-4">Digite seu email e um código será enviado para validar a solicitação e acessar formulário para recadastrar uma nova senha:</p>

        <div class="card-body">
            <form method="POST" action="{% url 'perfil:password_reset' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Digite seu email"
                           class="form-control" aria-describedby="usuarioHelp">
                </div>
                <button type="submit" id="btn_login_perfil" class="btn btn-primary btn-block btn-lg btn_login">
                    Enviar
                </button>  
           
            </form>  
        </div>
    </div>
{% endif %}

</div>
{% endblock %} 