{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block conteudo %}

<div class="container d-flex justify-content-center align-items-center vh-100"> 

    {% if not request.user.is_authenticated %}
    <div class="card borderless">
        <h3>Cadastro de nova senha</h3>
        <p class="mt-4">Digite sua nova senha 2 vezes e clique em recadastrar para concluir:</p>

        <div class="card-body">
            <form method="POST" action="{% url 'perfil:reset_password' %}">
                {% csrf_token %}

                {{error}}

                <input type="hidden" id="uidb64" name="uidb64" value="{{uidb64}}">

                {{form|crispy}}
        
                <button type="submit" id="btn_login_perfil" class="btn btn-primary btn-block btn-lg btn_login">
                    Recadastrar
                </button> 

            </form>  
        </div>
    </div>
{% endif %}

</div>
{% endblock %} 

<!--
   <div id="div_id_password" class="form-group"> <label for="id_password" class="">
                    Senha
                </label> 
                    <div> 
                        <input type="password" 
                                name="new_password1" 
                                class="passwordinput form-control" 
                                aria-describedby="id_password_helptext" 
                                id="new_password1">
                        <small id="hint_id_password" 
                                class="form-text text-muted">
                                Use uma letra maiuscula e um numero
                        </small> 
                    </div> 
                </div>
                <div id="div_id_password_confirm" class="form-group"> 
                    <label for="id_password_confirm" class="">
                        Confirmação da senha
                    </label> 
                    <div> 
                        <input type="password"  
                                name="new_password2" 
                                class="passwordinput form-control" 
                                aria-describedby="id_passwordconfirm_helptext"
                                id="new_password2">
                        <small id="hint_id_password_confirm" 
                                class="form-text text-muted">
                                Digite igual ao campo acima
                        </small> 
                    </div> 
                </div>
-->