{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block conteudo %}

<div class="container d-flex justify-content-center align-items-center vh-100"> 

    {% if not request.user.is_authenticated %}
    <div class="card borderless">
        <h3>Cadastro de nova senha</h3>
        <p class="mt-4">Digite sua nova senha 2 vezes e clique em recadastrar para concluir:</p>

        <div class="card-body">
            <form method="POST" action="{% url 'perfil:reset_password' %}">
                {% csrf_token %}

                {{error}}

                <input type="hidden" id="uidb64" name="uidb64" value="{{uidb64}}">

                {{form|crispy}}
        
                <button type="submit" id="btn_login_perfil" class="btn btn-primary btn-block btn-lg btn_login">
                    Recadastrar
                </button> 

            </form>  
        </div>
    </div>
{% endif %}

</div>
{% endblock %} 

<script>
    $(function(){
        $("#id_new_password1").focus();
    })();
</script>