{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block conteudo %}

<div class="container d-flex justify-content-center align-items-center vh-100"> 

    {% if not request.user.is_authenticated %}
    <div class="card borderless">
        <h3>Cadastro de nova senha</h3>
        <p class="mt-4">Digite seu email e um código será enviado para validar a solicitação e acessar formulário para recadastrar uma nova senha:</p>

        <div class="card-body">
            <form method="POST" action="{% url 'perfil:reset_password' %}">
                {% csrf_token %}

                
                <div id="div_id_password" class="form-group"> <label for="id_password" class="">
                    Senha
                </label> 
                    <div> 
                        <input type="password" 
                                name="password" 
                                class="passwordinput form-control" 
                                aria-describedby="id_password_helptext" 
                                id="id_password">
                        <small id="hint_id_password" 
                                class="form-text text-muted">
                                Use uma letra maiuscula e um numero
                        </small> 
                    </div> 
                </div>
                <button type="submit" id="btn_login_perfil" class="btn btn-primary btn-block btn-lg btn_login">
                    Enviar
                </button>  
            </form>  
        </div>
    </div>
{% endif %}

</div>
{% endblock %} 