{% load static %}

{% load omfilters %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <th style="width: 15%">Imagem</th>
            <th style="width: 40%">Nome e variação</th>
            <th></th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Remover</th>
        </thead>
        <tbody>
        {% for item in carrinho.values %}
            <tr>
                <td class="d-none d-lg-block">
                    {% if item.imagem %}
                        <img class="cart-img" src={% get_media_prefix %}{{item.imagem|remove_aspas}}>
                    {% endif %}    
                </td>
                <td>
                    <a href="{% url 'produto:detalhe' item.slug %}">
                      {{ item.produto_nome }} - {{ item.variacao_nome }}
                    </a>
                <td>                       
                <td>{{ item.quantidade }}</td>                        
                <td>
                    {% if item.preco_quantitativo_promocional %}
                        R$  {{ item.preco_quantitativo_promocional }}
                    {% else %}
                        R$  {{ item.preco_quantitativo }}
                    {% endif %}    
                </td> 
                <td>
                    <a class="ml-3" href="{% url 'produto:removerdocarrinho' %}?vid={{item.variacao_id}}">
                        <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>    

    </table>
</div>