{% load static %}

{% load omfilters %}

{% if not area_sem_produtos %}
<div class="container mt-4 mb-4">
<p class="lead">O que as pessoas estão mais comprando</p>
<div class="row">
    <div class="col-lg-12">
        <div class="card-columns_produtos_rodape">

            {% for produto in produtos_mais_vendidos %}   
            
            <div class="card img_produtos_mais_vendidos">
                {% if produto.imagem %}
                  <a href="{% url 'produto:detalhe' produto.slug %}">  
                    <img class="card-img-top " src="{{ produto.imagem.url }}" alt="Card image cap">
                  </a>
                {% endif %} 

                <div class="card-body-carroussel">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <div class="container product-price-block text-center">
                        {% if produto.preco_marketing_promocional > 0 %}
                            <span class="product-price">
                                {{ produto.preco_marketing_promocional|formata_preco }}
                            </span>
                        {% endif %}
                            <span class="product-old-price text-muted">
                                {{ produto.preco_marketing|formata_preco }}
                            </span>
                    </div>
                </div>
                <div class="card-footer-rodape bg-transparent border-top-light-custom text-center">
                    <a href="{% url 'produto:detalhe' produto.slug %}" class="btn btn-primary btn-sm m-1 btn-block">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Comprar
                    </a>
                </div>
            </div>
            {% endfor  %}

        </div>
    </div>
</div>

</div>
{%  endif %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="{% static 'assets/bootstrap/js/popper.min.js' %} "></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
<script defer src="{% static 'assets/font-awesome/js/all.js' %} "></script>
<script src="{% static 'assets/custom/js/scripts.js' %} "></script>


{% if pagina_cadastro %}

<script src="{% static 'assets/custom/js/password_strength.js' %} "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>

<script>
    $(document).ready(function(){

        $("#id_data_nascimento").datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR"
        });

        $("#id_cep").mask("00000-000");
        $("id_data_nascimento").mask("00/00/0000");
        $("#id_cpf").mask("000.000.000-00");

        $("#id_password").passwordStrengthIndicator();
        $("#id_password2").passwordStrengthIndicator();
    });  
</script>

{% endif %}