{% load omfilters %}

{% if not area_sem_produtos %}
<div class="container mt-4 mb-4">
<div class="row">
    <div class="col-lg-12">
        <div class="card-columns_produtos_rodape">

            {% for produto in produtos_mais_vendidos %}   
            
            <div class="card img_produtos_mais_vendidos">
                {% if produto.imagem %}
                  <a href="{% url 'produto:detalhe' produto.slug %}">  
                    <img class="card-img-top " src="{{ produto.imagem.url }}" alt="Card image cap">
                  </a>
                {% endif %} 

                <div class="card-body-carroussel text-center">
                    <a href="{% url 'produto:detalhe' produto.slug %}">  
                        <h5 class="card-title">{{ produto.nome }}</h5>
                    </a>    
                    <div class="container product-price-block text-center">
                        {% if produto.preco_promocional > 0 %}
                            <span class="product-price_footer">
                                {{ produto.preco_promocional|formata_preco }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer-rodape bg-transparent border-top-light-custom text-center">
                </div>
            </div>
            {% endfor  %}

        </div>
    </div>
</div>

</div>
{%  endif %}
