.product-price-block {
    font-size: 1.5rem;
}

.product-price {
    font-size: 1.5rem;
}

.product-old-price {
    text-decoration: line-through;
    font-size: 1rem;
}

.border-top-light-custom{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns_produtos_rodape {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

ul.errorlist  {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    font-size: 13px;
    color: red;
    display: block;
}

ul.errorlist li {
    display: block;
    font-weight: bold;
}

/*
@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}


@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
*/
.very-weak {
    color: red;
}

.weak{
    color: orange;
}

.mediocre{
    color: mediumorchid; 
}

.strong{
    color: mediumblue;
}

.very-strong{
    color: darkblue;
}

.form-group textarea {
    width: 100%;
}
.nav-cart, .nav-cart a {
    color: #fff;
    text-decoration: none;
}
.cart-img {
    max-width: 150px;
}

.divleft {
    padding-left: 1px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bottom_40pixel{
    margin-bottom: 40px;
}

.img_produtos_mais_vendidos{
    max-width: 250px;  
    height: 380px;
    border:none;
}

.img_produtos_mais_vendidos img{
    max-height: 230px;
}

.card-body-carroussel{
    padding: 0.5rem;
}

.card-footer-rodape{
    padding: 0.50rem 1.25rem;
}

.btn-cadastro-perfil{
    width: 350px;
}

tbody > tr.selected > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.9);
    color : rgb(var(--dt-row-selected-text));
}

#exampleInputPassword, #username, #btn_login_perfil{
    max-width:350px;
}

#id_data_nascimento, #id_cpf, #id_cep{
    max-width: 150px;
}

#id_idade{
    max-width: 100px;
}

#id_numero{
    max-width: 90px;
}

#id_bairro, #id_cidade, #id_estado, #id_password, #id_password2, #id_username, #id_first_name, #id_last_name{
    max-width: 350px;
}

#id_email, #id_endereco, #id_complemento {
    max-width: 600px;
}