{% extends 'base.html' %}
{% load omfilters %}
{% block conteudo %}

<div class="row">
    <div class="col">
        <h3 class="mb-4">Pedidos de {{user}}</h3>
        <p>Abaixo todos os seus pedidos realizados na loja.</p>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th scope="col" class="text-center">Pedido</th>
                    <th scope="col" class="text-center">Data de emissão</th>
                    <th scope="col" class="text-center">Qtd. Itens</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Total</th>
                    <th scope="col" class="text-center">Mais detalhes</th>
                </tr>
                {% for pedido in page_obj %}
                <tr>
                    <th scope="row">{{pedido}}</td>                  
                    <td class="text-center">{{pedido.data_emissao|date:"d/m/Y"}}</td>  
                    <td class="text-center">{{pedido.qtd_total}}</td>
                    <td class="text-center">{{pedido.get_status_display}}</td>
                    <td class="text-center">{{pedido.total|formata_preco}}</td>
                    <td class="text-center">
                        <a href="{% url 'pedido:detalhe' pedido.id %}">
                            Ver <i class="fas fa-search-plus ml-2"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% include 'parciais/_pagination.html' %}

 {% endblock %} 