{% extends 'base.html' %}
{% load omfilters %}
{% load static %}
{% block conteudo %}

<meta name="csrf-token" content="{{ csrf_token }}">

<div class="row">
    <div class="col">
        <h3>{{pedido}}</h3>
        
        <div class="row mt-4">
            <div class="col" style="width:50%">
                <div class="row-lg-2 font-weight-bold">Status:</div>
                <div class="row-lg-4">{{pedido.get_status_display}}</div>

                <div class="row-lg-2 font-weight-bold">Total:</div>
                <div class="row-lg-4">{{pedido.total|formata_preco}}</div>

                <div class="row-lg-2 font-weight-bold">Qtd. Itens:</div>
                <div class="row-lg-4">{{pedido.qtd_total|converte_int}}</div>

                <div class="row-lg-2 font-weight-bold">Código Rastreio:</div>
                <div class="row-lg-4">{{pedido.codigo_rastreio_correio}}</div>

                <div class="row-lg-2 font-weight-bold">Código Rastreio:</div>
                <div class="row-lg-4">{{perfil.nome_completo}}</div>
            </div>
            <div class="col" style="width:25%">
                <button data-status="{{pedido.status}}" 
                        data-url="{% url 'pedido:atualizapedido' %}"
                        class="btn btn-secondary btn-block btn-lg btnChangeStatus"
                        onclick="showDialogModalStatus({{pedido.id}}, '{{pedido.status}}', '{{csrf_token}}')">
                        Mudar de {{pedido.get_status_display}}   para {{pedido.status|get_next_step}}
                </button> 
                
            </div>
            <div class="col" style="width:25%">
                <button class="btn btn-danger btn-block btn-lg btn-delete"
                        url="{% url 'pedido:desativar' %}"
                        onclick="showDialogModalDeactivate({{pedido.id}})">    
                    Desativar pedido 
                </button>
            </div>
        </div>
            
            <div class="row mt-4">
                <div class="col">
                    <h3>Produtos</h3>
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table class="table">
                    <tr>
                        <th class="d-nome d-lg-block">Imagem</th>
                        <th>Produto</th>
                        <th>Variação</th>
                       <!-- <th>Preço</th> -->
                        <th>Quantidade</th>
                        <th>Total</th>
                    </tr>
                    {% for item in pedido.itempedido_set.all %}
                    <tr>
                        <td class="d-none d-lg-block"> 
                            <img class="cart-img" src="{% get_media_prefix %}{{item.imagem|remove_aspas}}">
                        </td>
                        <td>{{item.produto}}</td>
                        <td>{{item.variacao}}</td>
                      <!--  <td>{{item.preco}}</td> -->
                        <td>{{item.quantidade}}</td>
                        <td>
                            {% if item.preco_promocional %}
                            {{item.preco_promocional|formata_preco}}
                            {% else %}
                            {{item.preco|formata_preco}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

    </div>

    <div id="dialog-confirm-status" class="hide" title="Alteração da situação do pedido">
        <p>
            <span class="ui-icon ui-icon-alert" 
                style="float:left; margin:12px 12px 20px 0;">
            </span>
            <span id="msg-de-para">Isso irá alterar o status do pedido. Você tem certeza?</span>
        </p>
    </div>  
    <div id="dialog-confirm-deactivate" class="hide" title="Desativação do pedido">
        <p>
            <span class="ui-icon ui-icon-alert" 
                style="float:left; margin:12px 12px 20px 0;">
            </span>
            Isso irá desativar o pedido e você não poderá usá-lo no sistema da loja . Você tem certeza?
        </p>
    </div>  
    
    
</div>
{% endblock %}
