{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load omfilters %}

{% block conteudo %}

<script>
    $(document).ready(function(){
        
        $ = jQuery;

        const table = $('#table_id').DataTable({
            colReorder: true,
            keys: true,
        });

        table.on('click', 'tbody tr', (e) => {
            let classList = e.currentTarget.classList;
        
            if (classList.contains('selected')) {
                classList.remove('selected');
            }
            else {
                table.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
                classList.add('selected');
            }
        });
        

        $(".dt-layout-cell").first().hide();
        $("#dt-search-0").css('width','80%');
        $(".dt-search").css('text-align', 'left');
        $(".card-body").css('padding','0.75rem');

        table.on('click', 'td', function (e) {
            row = $(this).parent('tr');
            nomecategoria_selecionado = row.children('td.nome_categoria').html();
            if (nomecategoria_selecionado.startsWith('<div')){
                ind_fim_div = nomecategoria_selecionado.lastIndexOf('>');
                tamanho_total = nomecategoria_selecionado.length;    
                nomecategoria_selecionado.substr(ind_fim_div, tamanho_total);
            }
            $("#id_categoria").val(row.attr('categoria_id'));
            $('#nome').val(nomecategoria_selecionado);
            menu_ativo = ''+row.attr("ativo_menu")+'';
            if(menu_ativo == "True")
                $("#ativo_menu").attr('checked', true);
            else
                $("#ativo_menu").attr('checked', false);
        });  

    } );  
</script>

<div class="container d-flex vh-100"> 

    <div class="card borderless">
        <div class="card-body">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>nome da categoria</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr categoria_id="{{categoria.id}}" ativo_menu="{{categoria.ativo_menu}}">
                        <td class="nome_categoria">{{categoria.nome}}</td>             
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 

        </div>
        <div class="card-body">
            
            <form method="POST" action="{% url 'produto:categoria' %}">
                {% csrf_token %}
                <input type="hidden" id="id_categoria" name="id_categoria" />
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" 
                            placeholder="Nome da categoria" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ativo_menu">Aparece no menu?</label>
                    <input type="checkbox" name="ativo_menu" id="ativo_menu">
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg">
                    Cadastrar
                </button>  
            </form> 
        </div>
         

    </div>

</div>
{% endblock %}
