{% extends 'base.html' %}

{% load omfilters %}

{% load static %}

{% block conteudo %}

<div class="row mb-5">
    <div class="col-lg">
        <h2>Resumo da sua compra</h2>

        <p class="lead">Dados do usuário</p>
        <p>Caso precise editar, <a href="{% url 'perfil:criar' %}">clique aqui</a></p>
        <dl class="row">
            <dt class="col-lg-2">Nome:</dt>
            <dd class="col-lg-4">{{perfil.nome_completo}}</dd>

            <dt class="col-lg-2">E-mail:</dt>
            <dd class="col-lg-4">{{usuario.email}}</dd>
        </dl>
        <dl class="row">
            <dt class="col-lg-2">Endereço:</dt>
            <dd class="col-lg-4">{{perfil.endereco}}</dd>
            <dt class="col-lg-2">Número:</dt>
            <dd class="col-lg-4">{{perfil.numero}}</dd>

            <dt class="col-lg-2">Complemento:</dt>
            <dd class="col-lg-4">{{perfil.complemento|none_to_blank}}</dd>
            <dt class="col-lg-2">Bairro:</dt>
            <dd class="col-lg-4">{{perfil.bairro|none_to_blank}}</dd>

            <dt class="col-lg-2">Cidade:</dt>
            <dd class="col-lg-4">{{perfil.cidade}}</dd>
            <dt class="col-lg-2">Estado:</dt>
            <dd class="col-lg-4">{{perfil.estado}}</dd>

            <dt class="col-lg-2">CEP:</dt>
            <dd class="col-lg-4">{{perfil.cep}}</dd>

            <dt class="col-lg-2">Telefone:</dt>
            <dd class="col-lg-4">{{perfil.telefone}}</dd>
        </dl>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <h5>Resumo do carrinho</h5>
        <p>O produtos, quantidades e preços que você escolheu</p>
        {% include 'parciais/_carrinho.html' %}
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <p class="lead text-right">
            <strong>Total do carrinho</strong>
            <span id="total_carrinho">
                {{carrinho|cart_total_preco|formata_preco}}
            </span>
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <p class="lead">Opções de fretes</p>
        <p>Selecione uma opção de envio para {{perfil.endereco}}, {{perfil.numero}}, em {{perfil.cidade}}, CEP: {{perfil.cep}}</p>
        {% include 'parciais/_fretes.html' %}
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <p class="lead text-right">
            <strong>Total da compra</strong>
            <span id="total_compra">
                
            </span>
        </p>
    </div>
</div>

<a href="{% url 'pedido:salvarpedido' %}" class="btn btn-primary btn-block btn-lg">
    Realizar pedido e pagar
</a>

<div id="wallet_container" data-id="{{preference.id}}"></div>

{% include 'parciais/_mais_acessados.html' %}

<script>    
    const mp = new MercadoPago('APP_USR-5be3b699-2727-4257-a722-9cf2af55646b');
    const bricksBuilder = mp.bricks();
    mp.bricks().create("wallet", "wallet_container", {
                    initialization: {
                        preferenceId: $("#wallet_container").data("id"),
                    },
                    customization: {
                        texts: {
                        valueProp: 'smart_option',
                        },
                    },
                });
</script>

<script src="{% static 'assets/custom/js/resumo_compra.js' %}"></script>

{% endblock %}
