{% extends 'base.html' %}

{% load omfilters %}

{% load static %}

{% block conteudo %}

<h1 class="text-center">Listagem de produtos</h1>

<br />

<table id="table_id" class="display">
    <thead>
        <tr>
            <th></th>
            <th>nome</th>
            <th>descricao</th>
            <th>slug</th>
            <th>Preço</th>
            <th>Preço promocional</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr data-image="{% get_media_prefix %}{{produto.imagem|remove_aspas}}">
            <td class="dt-control" id="{{produto.id}}"></td> 
            <td>{{produto.nome}}</td>
            <td>{{produto.descricao}}</td>
            <td>{{produto.slug}}</td>
            <td style="width: 10%">{{produto.preco_marketing|formata_preco}}</td>
            <td>{{produto.preco_marketing_promocional|formata_preco}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function(){
        
        $.noConflict();

        const table = $('#table_id').DataTable({
            colReorder: true,
            keys: true,
            layout: {
                topStart: {
                    buttons: ['print', 'excel', 'pdf', 'csv', 'colvis' ]
                }
            }
        });

        table.on('requestChild.dt', function (e, row) {
            row.child(format(row.data())).show();
        });        

        table.on('click', 'td.dt-control', function (e) {
            
            let tr  = e.target.closest('tr');
            let row = table.row(tr);
            let id_produto = $(this).attr("id")

            if (row.child.isShown()) {
                row.child.hide();
                $("#tabela_variacoes").remove();
                $(".titulo_h5").remove();
                $(".linha_detalhe").remove();
            }
            else {
                row.child(format(row.data(), id_produto, $(this).parent().attr("data-image"))).show();
                showTabelaVariacoes(id_produto);
            }
        });        
    });

    function format(d, id_produto, imagem) {
        return (
            '<div class="col" style="float:left; width:70%">' +
            '<dl>' +
            '<dt>Nome:</dt>' +
            '<dd>' +
            d[1] +
            '</dd>' +
            '<dt>Slug:</dt>' +
            '<dd>' +
            d[3] +
            '</dd>' +
            '<dt>Descrição:</dt>' +
            '<dd>'+ d[2] +'</dd>' +
            '</dl>' +
            '</div>' +
            '<div style="float:right">' +
            '<img class="cart-img" src="'+ imagem +'" />' +
            '</div>' +   
            '</br>'
        );
    }

    async function showTabelaVariacoes(id){     
        
        variacoes = await getTabelaVariacoes(id); 
          
        table = getTableFromDataArray(variacoes, id);
        $("#"+id).parent().after(table);   
    }

    async function getTabelaVariacoes(id){        

        return $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "{% url 'produto:variacoes' %}",
                    data: "produtoid=" + id,
                    success: function(jsonData) { 
                        return jsonData;
                    }
                });
    }


    function getTableFromDataArray(dataText, id_produto){
        const dataObj = JSON.parse(dataText);
        let title = ''
        let tableHeader =   '<tr class="linha_detalhe">'+
                            '<td colspan=\"6\">'+
                            '<h5 class="titulo_h5" style="text-align:center">Lista de variações do produto #'+ id_produto +'</h4>' +   
                            '<table id=\"tabela_variacoes\" style=\"margin-left:10%; width:80%\">' +
                            '<thead>' +
                                '<tr>' +
                                    '<th style="width:35%">Nome da variação</th>'+
                                    '<th style="text-align:center">Preço</th>'+
                                    '<th style="text-align:center">Preço promocional</th>'+
                                    '<th style="text-align:center">Estoque</th>'
                                '</tr>'+
                            '</thead>'; 
        let tableRows = '';
        dataObj.forEach(row => {
            tableRows  += '<tr>'+                       
                '<td>'+row.fields.nome+'</td>'+                            
                '<td style="text-align:right; width:10%">'+formata_preco(row.fields.preco)+'</td>'+
                '<td style="text-align:right; width:20%">'+formata_preco(row.fields.preco_promocional)+'</td>'+
                '<td style="text-align:center; width:20%">'+row.fields.estoque+'</td>'+
            '</tr>'; 
        });             
        return ( title +
                 tableHeader +
                    '<tbody>'+
                        tableRows +                           
                     '</tbody>'+
                 '</table>' +
                 '</td>' +
                 '</tr>' 
               );     
    }

    function formata_preco(numero)
    {
        return numero.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    }

    function apenasNumeros(string) 
    {
        var numsStr = string.replace(/[^0-9]/g,'');
        return parseInt(numsStr);
    }

    
</script> 

{% endblock conteudo %}